@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.update-pwd-bg-container {
    background-image: linear-gradient(to bottom, #F37481, #AC83FB);
    background-size: cover;
    font-family: Roboto;
    padding: 10px;
    height: 100vh;
}

.update-pwd-main-heading {
    color: #F8F3F0;
    font-weight: 600;
    font-size: 30px;
    margin-left: 15px;
}

.label-element {
    color: #FCFBFB;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.input-element{
    width: 300px;
}

.input-element::placeholder {
    font-size: 14px;
}

.err-msg {
    color: #DB2D10;
    font-weight: bold;
    margin-left: 10px;
    font-size: 14px;
}

#updatePasswordForm{
    padding: 18px;
    border-radius: 8px;
    border-color: whitesmoke;
    border-style: solid;
    border-width: 2px;
    background-size: cover;
    height: fit-content;


}